:root {
	--rwhite-color-primary:   #3f617c;
	--rwhite-color-secondary: #2f4b61;
}

@media (prefers-color-scheme: light) {
body {
	background-color: #d8dee9;
	color: #282c34;
	--border-color: #282c34;
}

a {
	color: #282c34;
	padding: 2px;
}
}

@media (prefers-color-scheme: dark) {
body {
	background-color: #282c34;
	color: #d8dee9;
	--border-color: #d8dee9;
}


a {
	color: #d8dee9;
	padding: 2px;
}
}

a:hover {
	background-color: var(--rwhite-color-primary);
	color: #d8dee9;
	font-weight: bold;
	padding: 2px;
}

.productDescBox {
	border: 1px solid var(--border-color);
	display: none;
	position: fixed;
	float: left;
	top: 150px;
	height: auto;
	width: 335px;
	vertical-align: center;
	padding: 2px 6px 2px 6px;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 2px 3px 2px var(--border-color);
}

.sideBox {
	display: none;
	font-family: "Product Sans";
	position: fixed;
	float: right;
	top: 150px;
	right: 0;
	height: auto;
	width: 275px;
	vertical-align: center;
	border: 1px solid var(--border-color);
	padding: 2px 6px 2px 6px;
	margin-right: 10px;
	border-radius: 4px 4px 4px 4px;
	box-shadow: -2px 3px 2px var(--border-color);
}

#footerText {
	text-align: center;
}

.productDescBox h2, .sideBox h2 {
	font-size: 18px;
}

a { 
	padding: 2px;
	text-decoration: none;
}

body {
	font-family: "Ubuntu", sans;
}

.title {
	font-family: "Product Sans";
	font-size: 30px;
	text-align: center;
}

h2 {
	font-family: "Product Sans";
	font-size: 30px;
	text-align: center;
}

.product {
	align-content: center;
}

.howItWorks {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 5px;
	border: 1px var(--border-color) solid;
	border-radius: 8px 8px 8px 8px;
	justify-content: center;
}

.howItWorks h3 {
	text-align: center;
	font-size: 20px;
	margin-top: 5px;
}

.productImage {
	width: 20% !important;
	background-color: #d8dee9;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.btn {
	  padding: 5px 5px;
	  font-size: 20px;
	  font-weight: 900;
	  color: #d8dee9;
	  background-color: #333c34;
	  border: none;
	  cursor: pointer;
	  width: max-content;
	  margin-top: -15px;
  }

#productEOLEntryDate {
	padding: 5px;
	font-size: 15px;
	font-weight: 900;
	color: #d8dee9;
	background-color: #333c34;
	border: none;
	cursor: pointer;
	width: max-content;
	margin-top: -15px;
}
